:root {
  --main-color: #023e8a;
  --second-color: #0077b6;
  --third-color: #0096c7;
  --white-color: #fff;
  --black-color: #000;
  --bg-color: #f7f9f942;
  --border-color: #ccdbdc;
  --p-color: #7b7b7b;
}
.slide-products {
  position: relative;
  padding: 50px 0;
}
.top-slide {
  position: relative;
  margin-bottom: 20px;
  padding: 15px 20px 20px 0;
  border-bottom: 1px solid var(--border-color);
}
.top-slide:after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100px;
  height: 2px;
  background-color: var(--main-color);
}
.top-slide h2 {
  color: var(--main-color);
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.top-slide p {
  color: var(--p-color);
  line-height: 1.5;
}
.product {
  width: 250px;
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.product .img-product {
  height: 180px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.product .img-product img {
  width: auto;
  height: 160px;
}
.product .name-product {
  color: var(--main-color);
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.product .stars {
  margin: 15px 0;
  display: flex;
  gap: 5px;
}
.product .stars svg {
  fill: rgb(236, 236, 10);
  font-size: 18px;
}
.product .price {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
}
.product .icons {
  position: absolute;
  top: 50%;
  right: -50px;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  gap: 10px;
  transition: 0.3s;
}
.product:hover .icons {
  right: 20px;
}
.product:hover {
  border-color: var(--main-color);
  box-shadow: 10px 10px 15px var(--border-color);
}
.product.incart .icons .btn-addcard {
  background-color: var(--main-color);
  pointer-events: none;
}
.product.incart .icons .btn-addcard {
  color: var(--white-color) !important;
}
.product .icons span {
  width: 40px;
  height: 40px;
  background-color: var(--border-color);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.loading-slide-products .top-slide {
  height: 105px;
}
.loading-slide-products .top-slide h2 {
  height: 35px;
  width: 250px;
}
.loading-slide-products .top-slide p {
  height: 25px;
  width: 350px;
}
.products-loading {
  display: flex;
  gap: 30px;
}
.products-loading .content {
  height: 30px;
  margin-bottom: 10px;
}
.product .state-cart {
  font-size: 13px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: green;
}
.product.incart .state-cart {
  top: 10px;
}
.product .state-cart svg {
  color: green;
}
