.profile-page {
  padding: 70px 0;
}

.profile-box {
  max-width: 650px;

  margin: auto;

  background: #fff;

  padding: 40px;

  border-radius: 12px;

  border: 1px solid var(--border-color);
}

.profile-box h1 {
  color: var(--main-color);

  margin-bottom: 10px;
}

.profile-box p {
  color: #777;

  margin-bottom: 35px;
}

.profile-box form {
  display: flex;

  flex-direction: column;
}

.profile-box label {
  font-weight: 600;

  margin-bottom: 8px;
}

.profile-box input {
  margin-bottom: 22px;

  padding: 14px;

  border: 1px solid var(--border-color);

  border-radius: 8px;

  outline: none;

  transition: 0.3s;
}

.profile-box input:focus {
  border-color: var(--main-color);
}

.profile-box .btn {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .profile-box {
    padding: 25px;
  }
}
